streamlit

google-generativeai

youtube-transcript-api

python-dotenv

sentence-transformers

faiss-cpu

numpy

pandas

graphviz

reportlab

pytube

langchain

langchain-community

langchain-text-splitters